@import '../../../App.scss';

.profileDesign{
    z-index: 1;
    position: absolute;
    top: 6em;
    right: 4em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s;
}

.profileContainer{
    height: 23em;
    width: 15em;
    color: black;
    border: 2px solid rgba(255, 255, 255, 0.815);
    @include flex();
    flex-direction: column;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.637);

}

.profileData{
    height: 60%;
    width: 85%;
    padding-left: 0.5em;
    border: 2px solid rgb(3, 3, 3);
    background-color: rgba(255, 255, 255, 0.911);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    font-size: 15px;
    border-radius: 1em;
    font-weight: 400;

    &:hover{
        border: 2px solid white;
        background-color: rgb(255, 255, 255);
    }
}


.button{
    @include flex();
    width: 5em;
    height: 2em;
    font-weight: 400;
    font-size: 15px;
    margin-top: 1em;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    text-align: center;
    padding: 0.5em;
    cursor: pointer;

    &:hover{
        background-color: rgb(255, 255, 255);
        color: black;
        border: 2px solid black;
    }
}

.containerButtons{
    display: flex;
    gap:1em;
}





@media (max-width: 426px){
    .profileDesign{
        right: 2em;
    }

    .profileContainer{
        width: 12em;
    }

    .containerButtons{
        gap:0em;
        flex-direction: column;
    }

}


@media (max-width: 321px){
    .profileDesign{
        top: 8em;
        right: 0em;
    }
}