.registerDesign {
    
    background-image: url('../../../img/cinema1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.subRegisterDesign{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.divInputs{
    display: flex;
    align-items: center;
    justify-content: center;
}
.divtitle{
    width: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
}



.divtitle h3 {
     font-size: 1.4em;
    color: white;
}
.divBotton{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.registerLeft:hover, .registerRight:hover{
   
    opacity: 0.98;
    cursor: pointer;
    transition: 0.5s;

}
.registerLeft {

    height: 21em;
    width: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.2em;
    opacity: 0.8;
    transition: 0.5s;
}

.registerRight {

    height: 21em;
    width: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.2em;
    opacity: 0.8;
    transition: 0.5s;
    

}
 
 .bottonDesign {
    width: 80%;
    height: 1.7em;
    font-size: 1.1em;
    border: none;
    border-radius: 0.2em;
    background-color: var(--pricol3);
    margin: 0.9em;
    

} 

// .bottonDesignRegister {

//     height: 2.2em;
//     width: 80%;
//     border-radius: 0.2em;
//     background-color: var(--pricol4);
//     margin: 0.9em;
//     display: flex;
//     flex-direction: center;
//     align-items: center;
//     justify-content: center;
//     transition: 0.5s;
//     margin-bottom: 1.5em;
// }

// .bottonDesignRegister:hover {

   
//     background-color: var(--pricol1);
//     cursor: pointer;
//     transition: 0.5s;
//     color: white;
//     font: bold;
// }



.bottonDesignRegister {
    position: relative;
    display: inline-block;
    padding: 15px 41px;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin: 25px;
    font-family: "Roboto", sans-serif;
    filter: hue-rotate(0deg);
    border: 2px solid #ffffff;
    transition: all 0.1s linear;
  
    &:hover {
      border: 1px solid transparent;
      color: white;
      cursor: pointer;
      span {
        position: absolute;
        display: block;
  
        &:nth-child(1) {
          filter: hue-rotate(0deg);
          top: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background: linear-gradient(90deg, transparent, #ffffff);
          animation: animate1 1s linear infinite;
        }
        @keyframes animate1 {
          0% {
            left: -100%;
          }
          50%,
          100% {
            left: 100%;
          }
        }
  
        &:nth-child(2) {
          filter: hue-rotate(60deg);
          top: -100%;
          right: 0;
          width: 3px;
          height: 100%;
          background: linear-gradient(180deg, transparent, #ffffff);
          animation: animate2 1s linear infinite;
          animation-delay: 0.25s;
        }
  
        @keyframes animate2 {
          0% {
            top: -100%;
          }
          50%,
          100% {
            top: 100%;
          }
        }
        &:nth-child(3) {
          filter: hue-rotate(120deg);
          bottom: 0;
          right: 0;
          width: 100%;
  
          background: linear-gradient(270deg, transparent, #ffffff);
          animation: animate3 1s linear infinite;
          animation-delay: 0.5s;
        }
        @keyframes animate3 {
          0% {
            right: -100%;
            height: 3px;
          }
          50%,
          100% {
            height: 2px;
            right: 100%;
          }
        }
  
        &:nth-child(4) {
          filter: hue-rotate(300deg);
          bottom: -100%;
          left: 0;
          width: 3px;
          height: 100%;
          background: linear-gradient(360deg, transparent, #ffffff);
          animation: animate4 1s linear infinite;
          animation-delay: 0.75s;
        }
        @keyframes animate4 {
          0% {
            bottom: -100%;
          }
          50%,
          100% {
            bottom: 100%;
          }
        }
      }
    }
  }
  


.designMessageError{
    color: var(--pricol3);
}