@import '../../App.scss';


.editProfileDesign{
    height: 37em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../img/cinema4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.titleEditProfile{
    letter-spacing: 0.2em;
    font-weight: 700;
    font-size: 20px;
}

.input{
    width: 20em;
    height: 10em;
    border-radius: 0.2em;
    font-weight: 500;
}

.contraseñaEditProfile{
    font-weight: 700;
}


.editProfileDesignContainer{
    height: 30em;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5em;
    animation: prova 1.5s forwards 0.2s;
    opacity: -1;
    background-color: rgba(255, 255, 255, 0.904);
    
}

.buttonContainer{
    display: flex;
    
}
.buttonEditProfile{
    @include button()
  }
  


