.headerDesign{
    height: 8em;
    background-color: rgb(0, 0, 0) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.326);
    
}

.headerTitle{
    color: white;
    cursor: pointer;
    margin-left: 0.5em;
    transition: 0.5s;
    &:hover{
        margin-left: 2em;
        transition: 0.5s;
    }
}


.headerButtonContainer{
    width: 20em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-right: 3em;
}

.headerButton{
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}