body{
    background: linear-gradient(90deg, hsla(296, 100%, 6%, 1) 0%, hsla(5, 90%, 24%, 1) 100%);
}
.containerMovieDetail {
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 35em;
    margin: 1em;
    padding: 1em;
    color: white;
}

.containerImg {
    width: 46%;
    max-width: 360px;
    margin: 0 auto;
}

.movieDetailImg {
    width: 100%;
    height: auto;
}

.containerDescription {
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
    padding: 0em 1em;
}

.containerDescriptionButton {
    padding: 0.5em 1em;
    border: 1px solid black;
}

.msgError {
    margin-top: 1em;
    color: green;
    text-align: center;
}