@import '../../App.scss';

.containerMovieDetail {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 35em;
    padding: 1em;
    color: white;
    background: #212529;
}
.containerDescription{
    max-width: 40em;
}

.containerImg {
    width: 46%;
    max-width: 360px;
    
}

.movieDetailImg {
    width: 100%;
    height: auto;
}
.containerDescriptionTitle{
    padding-bottom: 1em;
    font-size: 1.8em
}
.containerDescriptionDescription{
    padding-bottom: 1em;
}

.containerDescription {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
    padding: 0em 1em;
}
.alquilerButton{
    color: white;
    @include flex();
    padding-top: 1em;
}

.containerDescriptionButton {
    @include button();
    color: white;
    margin-left:auto;
}

.msgError {
    margin-top: 1em;
    color: green;
    text-align: center;
}
